<div class="container mt-1">
    <div class="card">
        <div class="card-header listado">
            <div class="d-flex justify-content-between align-items-center m-2">
                <h5>Listado de Categorias</h5>
                <a mat-stroked-button color="primary" routerLink="/configuracion/categoria/nueva">
                  <mat-icon>add</mat-icon> Nueva categoria</a>
              </div>
        </div>
        <div class="card-body listado">
            <div class="example-container mat-elevation-z8">

                <div class="example-loading-shade" *ngIf="(dataSource.loading$ | async) || error">
                  <mat-spinner *ngIf="dataSource.loading$ | async"></mat-spinner>
                  <div class="example-rate-limit-reached" *ngIf="error">
                    Imposible cargar los datos. Ocurrió un error.
                  </div>
                </div>
        
                <div class="example-header">
                  <mat-form-field>        
                    <input matInput placeholder="Buscar categorias" #input>        
                  </mat-form-field>
                </div>
                <mat-table #table [dataSource]="dataSource" class="example-table" matSort matSortActive="categoria" matSortDisableClear matSortDirection="asc">
        
                  <ng-container matColumnDef="numero">
                    <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
                    <mat-cell *matCellDef="let row;index as num">
                      {{ num + 1 }}
                    </mat-cell>
                  </ng-container>
        
                  <ng-container matColumnDef="categoria">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Categoria</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                      <a routerLink=".">{{row.categoria}}</a>
                    </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="acciones">
                    <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
                    <mat-cell *matCellDef="let row;">
                      <a mat-icon-button routerLink="." class="ver">
                        <mat-icon>edit</mat-icon>
                      </a>
                      <a mat-icon-button routerLink="."  class="editar">
                          <mat-icon>visibility</mat-icon>
                        </a>
                        <a mat-icon-button routerLink="."  class="eliminar">
                            <mat-icon>delete</mat-icon>
                          </a>
                    </mat-cell>
                  </ng-container>
        
                  <mat-header-row *matHeaderRowDef="columnas"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: columnas;"></mat-row>
                </mat-table>
        
                <mat-paginator [length]="totalItems" [pageSize]="opcsPageSize[0]" [pageSizeOptions]="opcsPageSize">
                </mat-paginator>
              </div>
        </div>
      </div>

  
</div>