<div class="container">
  <div class="row">
    <div class="col">
      <h4 class="mt-2">Opciones de menu de la App</h4>
      <p class="my-3">
        <strong>En la tabla de abajo se muestran las opciones de menu funcionando.</strong>
      </p>
      <p>Cada columna en la tabla hace referencia a un menu_principal - menu_secundario - otras_acciones. </p>

      <ul>
        <li>
          Menu Principal: Es el menu q se encuentra en la parte superior del template.
        </li>
        <li>
          Menu Secundario: Es el menu q se encuentra en la parte lateral izquierda del template.
        </li>
        <li>
          Otras acciones: Son acciones q se encuentran en la parte del contenido del template.
        </li>
      </ul>
      <p class="lead">
        Cada fila de la tabla representa un menu completo. Ejemplo: Configuracion->Categoria->[Nueva categoria]
      </p>
      <table class="table">
        <thead>
          <tr>
            <th>Menu Superior</th>
            <th>Menu lateral</th>
            <th>Acciones dentro contenedor</th>
            <th>Funcionando</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Activo</td>
            <td>Activo</td>
            <td>-</td>
            <td>-</td>
          </tr>
          <tr>
            <td>Evaluaciones</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
          </tr>
          <tr class="table-success">
            <td>Configuracion</td>
            <td>Categoria</td>
            <td>
              <a [routerLink]="[{ outlets: { primary: 'configuracion/categoria', sidebar: ['configuracion'] } }]">Nueva categoria, Listar, Editar, Mostrar, Eliminar, Buscar</a>
            </td>
            <td>OK</td>
          </tr>
          <tr class="table-success">
            <td>Configuracion</td>
            <td>Proceso</td>
            <td>
              <a [routerLink]="[{ outlets: { primary: 'configuracion/proceso', sidebar: ['configuracion'] } }]">
                Nuevo proceso, Listar, Editar, Mostrar, Eliminar, Buscar
              </a>
            </td>
            <td>OK</td>
          </tr>
          <tr class="table-success">
            <td>Configuracion</td>
            <td>Responsables</td>
            <td>
              <a [routerLink]="[{ outlets: { primary: 'configuracion/responsable', sidebar: ['configuracion'] } }]">
                Listar, Mostrar, Buscar
              </a>
            </td>
            <td>En desarrollo</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>