/* .mat-snack-bar-container {
  color: rgba(255,255,255,.7);
  background: #323232;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
} */

.alert {
    padding: 3px 4px;
    margin-bottom: 0;
  }
  
  /* .mat-snack-bar-container {
    color: rgba(255,255,255,.7);
    background: inherit;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  } */
  /* .alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    border: 1px solid transparent;
    border-radius: .25rem;
  } */