/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/*************** Contenedor ***************/
.container{
    padding-right: 0;
    padding-left: 0;
}
/*************** FIN Contenedor ***************/
/*************** Rutas ***************/
.router-active{
    background-color: brown !important;
}
/*************** FIN Rutas ***************/

/**************Sobreescribiendo estilos de bootstrap*************************/

/*Botones con etiqueta <a>*/
a[mat-stroked-button]:hover{
    color:inherit;
    text-decoration: inherit;
}
a[mat-button]:hover {
    color:inherit;
    text-decoration: inherit;
}
